@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Nsans Regular", "Seoge UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}